<div class="container_principal">
    <div class="Introduccion">
        <span class="Title">Gustavo Mayorga Gutierrez</span>
        <br>
        <br>
         <p class="Descrip">Hi!, Welcome to my page, I am web developer and android developer, I have skills in Angular, Css3, Html, JavaScript, TypeScript and Java. Please view my projects!😃</p>
         <div style="width:100%; display: flex; justify-content: center;">
            <br>
            <br>
            <br>
            <div class="btn">
                <span class="btn_subtitle">View🥰</span>
                    <div class="btn-slide">
                       <span class="btn_subtitle" style="transition: all 1s;">View Projects</span>
                   </div>
                <!-- <div class="Focus"></div> -->
            </div>
         </div>
    
    </div>
        <img src="./assets/Diseño/Decoracion1.png" alt="decoracion poligono 1" class="mancha1" [style.width.px]="decoracion1Width" [style.height.px]="decoracion1Height">
        <img src="./assets/Diseño/bola1.png" alt="decoracion poligono 2" class="bola1">
        <img src="./assets/Diseño/bola2.png" alt="decoracion poligono 3" class="bola2">
</div>